/******Introduccion******/

.Intro {
  background-color: #004f73;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.intbox1 {
  margin-left: 50px;
  width: 70%;
}

.intbox2 {
  width: 30%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn1 {
  position: absolute;
  top: 30px;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #004f73;
  font-size: 18px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
}

.btn1:hover {
  width: 220px;
  height: 60px;
  font-size: 20px;
  transition: 0.2ms;
}

.expertalk{
color: white;
font-weight: bold;
}

.title1 {
  font-size: 70px;
  color: white;
  width: 100%;
  height: 280px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.subtitle1 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.788);
  width: 80%;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}

.intbox1 p{
  color: rgba(255, 255, 255, 0.901);
  font-weight: bold;
}

.subtitle2 {
  font-size: 40px;
  color: white;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.header__img--graphic2 {
  position: absolute;
  z-index: 0;
  width: 50%;
  right: -15%;
  top: 150px;
  transform: rotate(0deg);
  overflow-x: hidden;
}

/*******Presentacion********/
#presentacion {
  background-color: white;
  z-index: 1;
  position: relative;
  padding: 3%;
}
.topicsbox {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
}

.topicsbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topicsbox h1{
  color: #01add7;
  font-weight: bold;
  font-size: 52px;
  margin-bottom: 5%;
}

.tittletopics{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtittlestopics{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.subtittlestopics h2{
  font-weight: bold;

}

.boxtopicsinfo{
  border-radius: 10%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 300px;
  background-color: #004f73;
  padding: 25px;
  margin-top: 25px;
}

.boxtopicsinfo img{
  width: 40%;
}

.topicsinfo{
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 60%;
}


.partnerships {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  background-color: white;
}

.partnertitle h2 {
  color: #0099d5;
  font-weight: bold;
  font-size: 35px;
}
.partnership_imgs {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.partnership_imgs img {
  width: 250px;
  height: 250px;
  margin-right: 75px;
}

/***Expertos***/

.expertos {
  width: 100%;
}

.titleexp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.presentacionexp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.presentacionexp h1 {
  color: #01add7;
  font-weight: bold;
  font-size: 52px;
}


.imgexps {
  width: 250px;
  border-radius: 50%;
  border: 1px solid rgba(51, 130, 241, 0.414);
}

.juanma{
  margin-top: 25px;
}
.boxtxtexp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.boxstxtexp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxtxtexp h2 {
  font-size: 25px;
  font-weight: bold;
}

.lugo{
  margin-top: 25px;
}

.txtexp {
  font-size: 16px;
  color: #0099d5;
  font-weight: 400;
  margin-bottom: 0px;
}

.txtexpDataloop {
  color: #0099d5;
  font-weight: bold;
  margin-bottom: 0px;

}


/***Formulario***/

.formulario {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.registro {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.formulario h1 {
  margin: 25px;
  font-size: 62px;
  font-weight: bold;
  margin-bottom: 50px;
  width: 50%;
}

.boxgraphic {
  width: 100%;
  height: 100%;
  display: flex;
}

.header3__img3--graphic3 {
  position: absolute;
  z-index: 0;
  width: 55%;
  left: -15%;
  overflow-x: hidden;
}

.form {
  padding: 50px;
  width: 60%;
}

.form iframe {
  width: 100%;
  height: 1200px;
}

/*****************************/

/******** Responsivo ***********/

@media only screen and (max-device-width: 1280px) and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /******Introduccion******/

  .title1 {
    font-size: 60px;
    height: 250px;
    margin-bottom: 5px;
  }

  .subtitle2 {
    font-size: 35px;
  }

  .header__img--graphic2 {
    width: 70%;
    top: 320px;
  }

  /*******Presentacion********/
    
  .subtittlestopics h2{
    font-weight: bold;
  }
  
  .boxtopicsinfo{
    width: 85%;
  }

  .topicsinfo{
    font-size: 17px;
    width: 100%;
    margin: 0px;
  }
  
  .partnerships {
    text-align: center;
  }
  
  .partnership_imgs {
    width: 100%;
  }
  
  .partnership_imgs img {
    width: 200px;
    height: 200px;
    margin-right: 55px;
  }
  
 /***Expertos***/

.imgexps {
  width: 200px;
}

.chris{
  margin-top: 30px;
}

.boxtxtexp h2 {
  font-size: 20px;
}

.txtexpDataloop {
font-size: 20px;
}

}

@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  /******Introduccion******/

  .title1 {
    font-size: 42px;
    height: 200px;
    margin-bottom: 5px;
  }

  .subtitle1 {
    font-size: 30px;
  }
  .subtitle2 {
    font-size: 30px;
  }

  .btn1 {
    top: 30px;
    right: 3%;
    width: 130px;
    height: 50px;
  }

  .btn1:hover {
    width: 150px;
    height: 60px;
    font-size: 20px;
    transition: 0.2ms;
  }

  .header__img--graphic2 {
    width: 70%;
    top: 320px;
  }

  /*******Presentacion********/
.tittletopics{
  flex-direction: column;
  align-items: center;
}

  .subtittlestopics h2{
    font-weight: bold;
  }

  .topicsinfo {
    font-size: 12px;
}
  
  .boxtopicsinfo{
    width: 100%;
    margin-bottom: 50px;
  }

  .topicsinfo{
    font-size: 16px;
    width: 100%;
    margin: 0px;
  }

  .partnertitle{
    text-align: center;
    width: 80%;
  }
  
  .partnertitle h2 {
    font-size: 32px;
  }

  .partnerships {
    text-align: center;
  }
  
  .partnership_imgs {
    width: 100%;
  }
  
  .partnership_imgs img {
    width: 200px;
    height: 200px;
    margin-right: 55px;
  }

  /***Expertos***/

  .boxtxtexp{
    flex-wrap: wrap;
  }

  .boxstxtexp{
    margin-bottom: 25PX;
  }

  /***Formulario***/

  .formulario {
    padding: 15px;
  }

  .formulario h1 {
    font-size: 50px;
  }

  .boxgraphic {
    display: flex;
    align-items: center;
  }

  .header3__img3--graphic3 {
    width: 75%;
    left: -25%;
  }

  .form {
    padding: 50px;
    width: 60%;
  }

  .form iframe {
    width: 100%;
    height: 1190px;
  }

}

  @media only screen and (min-device-width: 400px) and (max-device-width: 620px) and (-webkit-min-device-pixel-ratio: 1) {
 
      /******Introduccion******/

   .Intro{
    padding: 0;
    padding-right: 0%;
    padding: 0%;
   }   

   .intbox1{
    width: 100%;
    padding: 6%;
    margin-top: 25px;
    margin-left: 0;
   }

  .expertalk{
    font-size: 18px;
  } 

  .title1 {
    font-size: 32px;
    height: 150px;
    margin-bottom: 25px;
  }

  .subtitle1 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .subtitle2 {
    font-size: 30px;
  }

  .intbox1 p {
    font-size: 16px;
  }
  
  .intbox2{
    width: 5%;
  }
  .btn1 {
    top: 30px;
    right: 3%;
    width: 80px;
    height: 50px;
    font-size: 12.5px;
  }

  .btn1:hover {
    width: 100px;
    height: 60px;
    font-size: 13px;
    transition: 0.2ms;
  }

  .header__img--graphic2 {
    width: 100%;
    top: 325px;
    right: -200px;
  }

  /*******Presentacion********/
  
  .topicsbox h1{
    font-size: 40px;
  }

  .subtittlestopics h2{
    width: 300px;
    text-align: center;
    font-size: 20px;
  }

  .topicsinfo {
    width: 60%;
    font-size: 12px;
}
  
  .boxtopicsinfo{
    padding: 0%;
    width: 350px;
    margin-bottom: 25px;
  }

  .boxtopicsinfo img{
    width: 35%;
  }

  .topicsinfo{
    font-size: 15.5px;
  }

  .partnertitle{
    width: 100%;
  }
  
  .partnertitle h2 {
    font-size: 26px;
  }
 
  .partnership_imgs {
    width: 100%;
  }
  
  .partnership_imgs img {
    width: 110px;
    height: 110px;
    margin-right: 15px;
  }

  /***Expertos***/

  .titleexp h2{
      font-size: 18.5px;
  }

  .presentacionexp h1{
    font-size: 40px;
  }

  /***Formulario***/

  .formulario {
    margin-top: 50px;
    padding: 5px;
  }

  .registro{
    display: none;
  }

  .formulario h1 {
    font-size: 35px;
  }

  .boxgraphic {
    display: flex;
    align-items: center;
  }

  .header3__img3--graphic3 {
    display: none;
  }

  .form {
    padding: 0px;
    width: 100%;
  }


}

@media only screen and (min-device-width: 375px) and (max-device-width: 399px) and (-webkit-min-device-pixel-ratio: 1) {

   
  .Intro{
    padding: 0;
    padding-right: 0%;
    padding: 0%;
   }   

   .intbox1{
    width: 100%;
    padding: 6%;
    margin-top: 25px;
    margin-left: 0;
   }

  .expertalk{
    font-size: 18px;
  } 

  .title1 {
    font-size: 32px;
    height: 180px;
    margin-bottom: 25px;
  }

  .subtitle1 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .subtitle2 {
    font-size: 30px;
  }

  .intbox1 p {
    font-size: 16px;
  }
  
  .intbox2{
    width: 5%;
  }
  .btn1 {
    top: 30px;
    right: 3%;
    width: 80px;
    height: 35px;
    font-size: 12.5px;
  }

  .btn1:hover {
    width: 85px;
    height: 35px;
    font-size: 13px;
    transition: 0.2ms;
  }

  .header__img--graphic2 {
    width: 120%;
    top: 255px;
    right: -320px;
  }

  /*******Presentacion********/
  
  .topicsbox h1{
    font-size: 40px;
  }

  .subtittlestopics h2{
    width: 300px;
    text-align: center;
    font-size: 20px;
  }

  .topicsinfo {
    width: 60%;
    font-size: 12px;
}
  
  .boxtopicsinfo{
    padding: 0%;
    width: 350px;
    margin-bottom: 25px;
  }

  .boxtopicsinfo img{
    width: 35%;
  }

  .topicsinfo{
    font-size: 15.5px;
  }

  .partnertitle{
    width: 100%;
  }
  
  .partnertitle h2 {
    font-size: 26px;
  }
 
  .partnership_imgs {
    width: 100%;
  }
  
  .partnership_imgs img {
    width: 110px;
    height: 110px;
    margin-right: 15px;
  }

  /***Expertos***/

  .titleexp h2{
      font-size: 18.5px;
  }

  .presentacionexp h1{
    font-size: 40px;
  }

  /***Formulario***/

  .formulario {
    margin-top: 50px;
    padding: 5px;
  }

  .registro{
    display: none;
  }

  .formulario h1 {
    font-size: 35px;
  }

  .boxgraphic {
    display: flex;
    align-items: center;
  }

  .header3__img3--graphic3 {
    display: none;
  }

  .form {
    padding: 0px;
    width: 100%;
  }


}