// paddings //

.u-pt-section {
  padding-top: 7rem;
}

.u-pb-section {
  padding-bottom: 9rem;
}

.u-pt-05 {
  padding-top: .5rem;
}

.u-pt-1 {
  padding-top: 1rem;
}

.u-pt-2 {
  padding-top: 2rem;
}

// margins //

.u-ml-1 {
  margin-left: 1rem;
}

// 
.u-font-bold {
  font-weight: 600;
}